<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        .margin{
            margin: 30px 0;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="margin">
            <p>text</p>
            <p>{{ text }}</p>
            <!-- lazy modifier 只有在表單發生 change 事件時，才 update 資料 -->
            <input type="text" v-model.lazy="text">
        </div>
        <div class="margin">
            <p>textarea</p>
            <textarea v-model="textarea" cols="30" rows="10" placeholder="預設文字"></textarea>
        </div>
        <div class="margin">
            <p>checkbox</p>
            <label for="check">{{ checked }}</label>
            <input id="check" type="checkbox" v-model="checked">
        </div>
        <div class="margin">
            <p>multiple checkbox</p>
            <label for="tim">tim</label>
            <input type="checkbox" id="tim" value="tim" v-model="multipleCheck">

            <label for="jack">jack</label>
            <input type="checkbox" id="jack" value="jack" v-model="multipleCheck">
        </div>
        <div class="margin">
            <p>radio</p>
            <label for="name">tim</label>
            <input type="radio" id="name" v-model="radioChecked" value="tim">
            <label for="name2">jack</label>
            <input type="radio" id="name2" v-model="radioChecked" value="jack">
        </div>
        <div class="margin">
            <p>select</p>
            <select v-model="selected">
                <option disabled value="">Please select one</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
        </div>

        <!-- 對於值的綁定，以radio為例，值可以不再是true或false，而是對應到綁定的data，其實上面有案例，但不是透過v-bind寫在data裡 -->

        <div class="margin">
            <p>radio bind</p>
            <label for="radio"></label>
            <input type="radio" id="radio" v-model="valueRadio" :value="valueBind"> <!--  當radio被選取的時候， vm.valueRadio === vm.valueBind -->
        </div>

        <!-- 對於值的綁定，以checkbox為例，值可以不再是true或false，而是對應到綁定的data，與 radio不同的是，要寫 true-value 和 false value 分別表示-->

        <div class="margin">
            <p>checkbox bind</p>
            <label for="checkbox">check1</label>
            <input type="checkbox" id="checkbox" v-model="valueCheckbox"
                true-value="ye1s"
                false-value="no"
            >
        </div>

        <!-- v-slot 就是把 component 內部的 data 能對外部暴露的一個管道 -->
        <card-component v-slot:default="slotProps">
            <div>
                {{ slotProps.text }}
                {{ slotProps.count }}
            </div>
        </card-component>

        <test :level="2">
            12345
        </test>
    </div>

    <script>
         Vue.component('CardComponent', {
            data() {
                return {
                    text: '我是 card 文字',
                    count: 9999
                }
            },
            template: `
                <div class="card">
                    <div class="card-body">
                        <slot
                            :text="text"
                            :count="count" />
                    </div>
                </div>
            `
        })

        Vue.component('Test', {
            props: {
                level: {
                    type: Number,
                    default: 1
                }
            },
            computed: {
                tag() {
                    const tag = `h${this.level}`
                    console.log(tag)
                    return `h${this.level}`
                }
            },
            // template: `
            //     <component :is="tag">
            //         <slot />
            //     </component>
            // `
            render(createElement) {
                return createElement(
                    `h${this.level}`,
                    this.$slots.default
                )
            }
        })

        const vm = new Vue({
            el: '#app',
            data: {
                text: '初始文字',
                textarea: '',
                checked: false,
                multipleCheck: [],
                radioChecked: '',
                selected: '',
                valueRadio: false,
                valueBind: { value: true },
                valueCheckbox: false
            },
            methods: {

            }
        })
    </script>
</body>
</html>
